<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.VCLibs.110.Redist.x86" version="1.0.0-alpha" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package id="Selenium.Support" version="2.52.0" targetFramework="net45" />
  <package id="Selenium.WebDriver" version="2.52.0" targetFramework="net45" />
</packages>